@import 'partials/new-tasks-styles';
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}


// main wrapper styles
.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// nav styles
.navigation-wrapper {
  width: 250px;  
  margin: 50px 0 0 50px;
  ul {
    padding: 0;
    list-style-type: none;
    li {
      padding: 0 0 10px 0;
    }
  }
}


// form styles
.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 55px auto 0 auto;

  label,
  input,
  textarea {
  display: block;
  margin: 0.5rem 0;
  }

  label {
    font-weight: bold;
  }

  input,
  textarea {
    font: inherit;
    padding: 0.2rem 0.4rem;
    width: 100%;
    max-width: 30rem;
    border: 1px solid #ccc;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background: #fff5f9;
  }

  button {
    font: inherit;
    background: #ff0062;
    border: 1px solid #ff0062;
    cursor: pointer;
    color: white;
    padding: 0.75rem 1rem;
  }

  button:focus {
    outline: none;
  }

  button:hover,
  button:active {
    background: #a80041;
    border-color: #a80041;
  }

}

.form-control {
  display: flex;
  flex-direction: column;
}

// tasks-render styles

.tasks-render {
  width: 600px; 
  border: 1px rgb(172, 172, 172) solid;
  margin: 65px 50px 0 0;
}

.myInput {
  width: 500px;
  height: 400px;
  border: black 1px solid;
}